// Variables
$padding-width: 20px;
$bg-color: #ffffff;
$header-width-mobile: 10px;
$text-color: #000000;
$box-shadow: 0 10px 30px rgba(152, 152, 152, 0.55);

.nav {
  height: 100%;
  padding: 10px 0;
  background-color: $bg-color;
  box-shadow: $box-shadow;
  padding-right: $padding-width;
  padding-left: $padding-width;
  margin-right: auto;
  margin-left: auto;
  .main-header {
    margin-left: $header-width-mobile;
    margin-right: $header-width-mobile;
    .brand {
      width: 8%;
    }
    .form {
      display: inline-block;
      float: right;
      padding: 10px 0;
    }
    .search {
      border-radius: 5px;
      background-color: #ffffff;
      
    }
  }
}