body
{
	background-image:url("http://www.dailybitcoiner.com/Images/Site/Background.png");
	background-color: #E9EAED;
	font-family: Calibri, Arial;
}
h1
{
	font-size: 32px;
	text-align: center;
	line-height: 80%;
}
h2
{
	font-size: 28px;
	margin-bottom: 10px;
	padding-top: 20px;
}
a:link
{
	color: #428BCA;
	text-decoration: none;
}
a:visited
{
	color: #428BCA;
}
a:hover
{
	color: #05AADC;
}
a:active
{
	color: #05AADC;
}
p
{
	font-size: 20px;
}
#listings
{
}
.container:first-child
{
	margin-top: 20px;
}
.img-center
{
	display: block;
	margin: 0 auto;
}
.text-subheading
{
	font-size: 20px;
	text-align: center;
}
.info-line
{
	margin-top: 10px;
	font-size: 18px;
	line-height: 90%;
}
.info-line-sm
{
	font-size: 14px;
	line-height: 80%;
}
.travel-reimbursement img,.prizes img,.high-schoolers img
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	line-height: 80%;
}
.travel-reimbursement p,.prizes p,.high-schoolers p
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 80%;
}
.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 10px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #34B9E3; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 0px;
    background: #3D3939;
    position: absolute; top: 0; bottom: 0; right: 45;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
#githubButtons {
	text-align: center;
}
