body
{
	background-image:url("http://www.dailybitcoiner.com/Images/Site/Background.png");
	background-color: #E9EAED;
	font-family: Calibri, Arial;
}
h1
{ 
	font-size: 2em;
	line-height: .7em;
	color:#E36C0A;
}
h2
{
	font-size: 32px;
	text-align: center;
}
h3
{ 
	font-size: .9em;
	line-height: 1.3em;
	color:#828282;
}
h4
{
	font-size: 2.3em;
	line-height: .2em;
	color:#000000;
}
p
{
	font-size: 20px;
}
.container:first-child
{
	margin-top: 20px;
}
.img-center
{
	display: block;
	margin: 0 auto;
}
.text-subheading
{
	font-size: 20px;
	text-align: center;
}
.travel-reimbursement img,.prize-money img,.high-schoolers img
{
	margin: 10px;
	margin-left: 0px;
}
.travel-reimbursement p,.prize-money p,.high-schoolers p
{
	display: inline;
}
