<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Hackalist</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A list of upcoming hackathons worldwide.">
		<meta name="keywords" content="hackathon, hackathons, list, directory">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-app="hackalist">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					<a href="http://www.hackalist.org/"><img src="images/logo.png" alt="Hackalist" class="img-center"></a>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<p class="text-subheading">
						A list of upcoming hackathons around the world. Open to all students, no cost to attend.
					</p>
				</div>
			</div>
		</div>
		<div class="container" ng-controller="hackathonEvents">
			<div class="row" ng-repeat="(key, month) in year">
				<div class="col-lg-6 col-lg-offset-3">
					<h2>{{key}}</h2>
				</div>
				<div class="col-lg-6 col-lg-offset-3" ng-repeat="(key, hackathon) in month">
					<a href="{{hackathon.url}}" target="_blank">
						<h2>{{hackathon.title}}</h2>
					</a>
					<a href="{{hackathon.facebookURL}}" style="margin-right: 20px;">
						<img src="images/facebook.png" alt="" width="24px">
					</a>
					<a href="{{hackathon.twitterURL}}">
						<img src="images/twitter.png" alt="" width="24px">
					</a>
					<p class="date-city">
						{{hackathon.startDate}} - {{hackathon.endDate}} | {{hackathon.city}}
					</p>
					<p class="host-hours">
						Hosted by {{hackathon.host}} for {{hackathon.length}} hours
					</p>
					<p class="capacity">
						Capacity: {{hackathon.size}}
					</p>
					<div class="travel-reimbursement">
						<img src="images/status_yes.png" alt="" width="32" ng-if="hackathon.travel == 'yes'">
						<img src="images/status_no.png" alt="" width="32" ng-if="hackathon.travel == 'no'">
						<img src="images/status_question.png" alt="" width="32" ng-if="hackathon.travel == 'unknown'">
						<p>
							Travel Reimbursement
						</p>
					</div>
					<div class="prize-money">
						<img src="images/status_yes.png" alt="" width="32" ng-if="hackathon.prize == 'yes'">
						<img src="images/status_no.png" alt="" width="32" ng-if="hackathon.prize == 'no'">
						<img src="images/status_question.png" alt="" width="32" ng-if="hackathon.prize == 'unknown'">
						<p>
							Prize Money
						</p>
					</div>
					<div class="high-schoolers">
						<img src="images/status_yes.png" alt="" width="32" ng-if="hackathon.highSchoolers == 'yes'">
						<img src="images/status_no.png" alt="" width="32" ng-if="hackathon.highSchoolers == 'no'">
						<img src="images/status_question.png" alt="" width="32" ng-if="hackathon.highSchoolers == 'unknown'">
						<p>
							High Schoolers
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="js/app.js"></script>
</html>
