name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: flaxel/first-interaction@main
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thank you for contributing for Hackalist on this issue. We''ll be right with you soon.'
        pr-message: 'Thank you for contributing for Hackalist on this pull request. We''ll be right with you soon.'
